@page "/"

<h1>Hello Gamers!</h1>

Welcome to your new app, Let's Be Real! A place where you can Review Games and check out new Games too.

<img src= "LBR.png"/>

<SurveyPrompt Title="How is Blazor working for you?" />
