@page "/rankPage"

<h3>This is the Rank Page, see the table below for your rank!
    <span style= "font-family: Tahoma"></span>
</h3>


<table border= "1" width="700">
    <tr bgcolor="orange">
        <th width="100">User Name</th>
        <th width="100">Number Of Reviews</th>
        <th width="100">User Rank</th>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Reshman Kumaar</td>
        <td>Reviews: 15</td>
        <td>8th</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Bryant Chia</td>
        <td>Reviews: 8</td>
        <td>15th</td>
    </tr>

</table>


@code {

}
