@page "/rankPage"

<h3>
    This is the Rank Page, see the table below for your rank!
    <span style="font-family: Tahoma"></span>
</h3>


<table border="1" width="700">
    <tr bgcolor="orange">
        <th width="100">User Name</th>
        <th width="100">Number Of Reviews</th>
        <th width="100">User Rank</th>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Reshman Kumaar</td>
        <td>Reviews: 15</td>
        <td>1st</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Bryant Chia</td>
        <td>Reviews: 14</td>
        <td>2nd</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Max</td>
        <td>Reviews: 13</td>
        <td>3rd</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Kai</td>
        <td>Reviews: 12</td>
        <td>4th</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Jayden</td>
        <td>Reviews: 11</td>
        <td>5th</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Selena</td>
        <td>Reviews: 10</td>
        <td>6th</td>
    </tr>
    <tr bgcolor="lightgrey">
        <td>Rowan</td>
        <td>Reviews: 9</td>
        <td>7th</td>
    </tr>

</table>


@code {

}
