@page "/reviewPage" 


<h3>Review Page</h3>
<h5>Welcome to the Review Page, this is where you will be reviewing games.</h5>


<textarea name="t1" rows="6" cols="35">Type your Review</textarea>

@code {

}
